* {
  box-sizing: border-box; 
  transition: .3s;
  margin: 0;
  padding: 0;
}

body {
  padding: 5%;
  background-color: #90A4AE;
  color: #333;
  font-family: 'Helvetica Neue';
  
  a {
    color: lighten(#333, 30%);
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
}

.note {
  width: 100%;
  min-height: 400px;
  background-color: #CFD8DC;
  padding: 1rem 2rem;
  
  h1 {
    margin: 1rem 0 1.5rem;
    display: inline-block;
    border-bottom: 2px solid #607D8B; 
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
  }

  &__list {
    margin-top: .5rem;
  }
  
  &__item {
    background-color: #ECEFF1;
    
    &:nth-child(even) {
      background-color: #f7f7f7;
    }
    
    &:first-child {
      border-top: 0;
    }
    
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    &:hover {
        background-color: lighten(#607D8B, 25%);
        
        .note__delete {
          visibility: visible;
          opacity: 1;
          background-color: #EF5350;
        }
    }
  }
  
  &__text {
    padding-left: 2rem;
    flex: 8;
  }
  
  &__add {
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #607D8B;
    color: #fff;
    border: 0;
    flex: 2;
  }
  
  &__delete {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
    border: 0;
    align-self: flex-end;
    
    &:hover {
      
    }
  }
}
